{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
          <div class="container">
            <p>Datagouv est, comme son nom le laisse facilement deviner, un outil qui permet de rechercher des ressources, des contenus, etc., à partir de termes bien spécifiques dans toutes les informations collectées dans une base de données.</p>
            <p>DataGouv référence 4 bases de données téléchargé depuis le site Data-gouv.fr</p>
            <ul>
              <li>fr-esr-atlas_regional-effectifs-d-etudiants-inscrits.csv</li>
              <li>fr-esr-ecoles_doctorales_annuaire.csv</li>
              <li>fr-esr-pes-pedr-beneficiaires.csv</li>
              <li>fr-esr-sise-effectifs-d-etudiants-inscrits-esr-public.csv</li>
            </ul>
            <br>
              <p>Il suffit de renseigner les mots qui forment la requête et DataGouv déniche automatiquement les ressources correspondant à la recherche.</p>
            <center><h1 class="display-3">DataGouv</h1></center>
            <br>
            <p>   data.gouv.fr est une plateforme de diffusion de données publiques (« open data ») de l'État français. data.gouv.fr est développé par Etalab, une mission placée sous l'autorité du Premier ministre.</p>
            <p>   La première version du site data.gouv.fr a été lancée le 5 décembre 2011 par le Premier ministre<strong> François Fillon</strong>. Cette première version est développée par l'entreprise Logica.
            <br>  En décembre 2013, Etalab lance une deuxième version du site. Le nouveau site est développé en interne, s'appuie sur le logiciel libre Comprehensive Knowledge Archive Network (CKAN) développé par l'Open Knowledge Foundation et ouvert aux contributions de la communauté. Chaque citoyen ou chaque association peut publier des jeux de données, des réutilisations (application, service web, analyse statistique, article de presse, etc) et des ressources.
            <br>  Ce projet s’articule autour de l’idée d’employer les données fournies au grand publique du site data.gouv.fr, et plus spécifiquement actuellement, les données lié à l’enseignement.
            <br>  L’idée est d’employer le framework Django pour proposer aux gens des affichages graphiques intéressants et des fonctionnalités complètes d’un ensemble de donnée publique de l’enseignement.
            <br>  Depuis 2014, le moteur du site data.gouv.fr s'appuie sur le développement spécifique d'un logiciel dénommé udata.</p>
            <center>
            <br><a class="btn btn-primary btn-lg" href="{% url 'home:recherche' %} " role="button">Rechercher »</a>
          </center>
          </div>
 </div>
 <br> 
 <br>
</div>
 {% endblock content %}
