{% extends "recherche.html" %}

{% block contenu_recherche %}
<div class="col-sm-10">
<div class="container">
    <div class="jumbotron">
            <div class="container">
              <!-- hey, et si on foutais des panels avec bootstrap ? ça pourrais rendre bien !  -->
              <div class="row">
              <div class="panel panel-default">
                <div class="panel-heading">
                 <div class="panel-title">Informations générales</div>
                </div>
              <div class="panel panel-body">
              <div class="row">
                <div class="col-sm-2">Année : {{ ret.rentree }} </div>
                <div class="col-sm-3"> Rentrée universitaire : {{ ret.rentree_universitaire  }}</div>
                <div class="col-sm-4">{{ ret.niveau_geographique }} de : {{ ret.geo_nom }} </div>
                <div class="col-sm-3"> Code group : {{ ret.regroupement  }}</div>
              </div>
              <br/>
              <div class="row">
                <div class="col-sm-4">Formation : {{ ret.rgp_formations_ou_etablissements }}</div>
                <div class="col-sm-6">Type d'établissement : {{ ret.secteur_de_l_etablissement }} </div>
                <div class="col-sm-2">Secteur : {{ ret.secteur }}</div>
              </div>
              </div>
              </div>
            </div>
              <br/>
              <div class="row">
                <div class="panel panel-warning">
                <div class="panel-heading">
                 <div class="panel-title">Nombre d'effectif</div>
                </div>
              <div class="panel panel-body">
                  <div class="col-sm-4">total : {{ ret.effectif }}</div>
                  {% if ret.a_des_effectifs_dut == "oui" %}
                  <div class="col-sm-4"> Dont {{ ret.effectif_dut }} DUT</div>
                  {% endif %}
                  {% if ret.a_des_effectifs_ing == "oui" %}
                  <div class="col-sm-4">Dont {{ ret.effectif_ing }} ING</div>
                  {% endif %}
              </div>
                </div>
            </div>
   </div>
   <br>
   <br>
  </div>
</div>
{% endblock contenu_recherche %}
