<!--Footer-->
<footer class="page-footer blue center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Datagouv</h5>
                <p>Ce projet s’articule autour de l’idée d’employer les données fournies au grand publique du site data.gouv.fr, et plus spécifiquement actuellement, les données lié à l’enseignement.
                    <br>L’idée est d’employer le framework Django pour proposer aux gens des affichages graphiques intéressants et des fonctionnalités complètes d’un ensemble de donnée publique de l’enseignement.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Created By team Datagouv :</h5>
                <ul>
                    <li><a href="#!">Adonis Ahmed Haouili</a></li>
                    <li><a href="#!">Pacome Tisserand</a></li>
                    <li><a href="#!">Sonia Moussaoui</a></li>
                    <li><a href="#!">Adame Benadjal</a></li>
                    <li><a href="#!">Alex Ly</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
</footer>
<!--/.Footer-->
                
        