<!--Footer-->
<footer class="page-footer blue center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Datagouv</h5>
                <p>Adonis is the best</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">Created By team Datagouv :</h5>
                <ul>
                    <li>Adonis Ahmed Haouili</li>
                    <li>Pacome Tisserand</li>
                    <li>Sonia Moussaoui</li>
                    <li>Adame Benadjal</li>
                    <li>Alex Ly</li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->
</footer>
<!--/.Footer-->
                
        