<!DOCTYPE html>
<html>
    <head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/navbar-fixed-side.css' %}" />
    
    <title> {%block title %}{% endblock title %}</title>
</head>

<body>
{% block content %}

<footer>
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer>
{% endblock content %}
</body>
</html>
