<header>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <center>
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home:description' %}">Data<span class="label label-default">gouv</span></a>
      </div>
      <center>
      <ul class="nav navbar-nav">
        <li ><a href="{% url 'home:description' %}">Home</a></li>
        <li><a href="{% url 'home:recherche' %}">Recherche</a></li>
        <li><a href="{% url 'home:contact' %}">Contact</a></li>
      </ul>
    </center>
    </div>
  </nav>
</header>

