{% extends "recherche.html" %}

{% block contenu_recherche %}
<div class="col-sm-10">
        <div class="container">
            <div class="jumbotron">
                    <div class="container">
                      <!-- hey, et si on foutais des panels avec bootstrap ? ça pourrais rendre bien !  -->
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">L'Inscription :</div>
                                </div>
                            <div class="panel panel-body">
                                <div class="col-sm-3">Année : {{ ret.rentreeAnnee }} </div>
                                <div class="col-sm-3">Rentrée : {{ ret.rentreeDate }} </div>
                                <div class="col-sm-3">Rentrée : {{ ret.etablissementId }} </div>
                                <div class="col-sm-3">Nombre Étudiants : {{ ret.NbEtudiantInscriptionPrincipale}} </div>
                                <div class="col-sm-3">Nombre Nouveaux Bacheliers : {{ ret.NbNouveauBacheliers  }} </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title">L'Etablissement :</div>
                                </div>
                            <div class="panel-body">
                                <div class="col-sm-6">Typologie : {{ ret.TypologieEtablissement }}</div>
                                <div class="col-sm-2">Type : {{ ret.TypeEtablissement }}</div>  
                                <div class="col-sm-3">Nom : {{ ret.etablissementId }}</div>
                                <div class="col-sm-3">Opérateur : {{ ret.Opérateur }} </div>
                                <div class="col-sm-3">Opérateur : {{ ret.OperateurId }} </div>
                                <div class="col-sm-3">Code géo : {{ ret.IdentifiantEter }}</div>
                                {% if ret.sigle %}
                                <div class="col-sm-3">sigle : {{ ret.sigle }}</div>
                                {% else %}
                                <div class="col-sm-3"></div>
                                {% endif %}
                                <div class="col-sm-12">Siege : {{ ret.SiegeEtablissement }} </div>
                        </div>
                      
                    </div>
                    
                      </div>
                      <br/>
                      <div class="row">
                        <div class="panel panel-warning">
                          <div class="panel-heading">
                            <div class="panel-title">Le Baccalauréat :</div>
                          </div>
                          <div class="panel-body">
                            <div class="col-sm-3">{{ ret.RegroupementBac }}</a></div>
                            <div class="col-sm-3">Série : {{ ret.SerieBac }}</a></div>
                            <div class="col-sm-3">Bachelier : {{ ret.BacAge }}</a></div>
                            <div class="col-sm-3">Cause : {{ ret.BacAgeExplication }}</a></div>
                            <div class="col-sm-3">Département : {{ ret.Attractivite_departementale }} </div>
                            <div class="col-sm-3">Région : {{ ret.Attractivite_regionale }} </div>
                            <div class="col-sm-3">Internationale : {{ ret.Attractivite_internationale }} </div>
                            <div class="col-sm-3">Attractivite interne : {{ ret.ATTRAC_INTERN }} </div>
                            </div>
                        </div>
                        <br>
                        <div class="panel panel-warning">
                                <div class="panel-heading">
                                  <div class="panel-title">Diplomes Universitaires :</div>
                                </div>
                                <div class="panel-body">
                                  <div class="col-sm-3">{{ ret.TypeDiplome }}</a></div>
                                  <div class="col-sm-3">Cycle : {{ ret.Cycle_universitaire }}</a></div>
                                  <div class="col-sm-3">Diplome : {{ ret.diplome }}</a></div>
                                  <div class="col-sm-3">Niveau : bac+{{ ret.niveau }} </div>
                                  <div class="col-sm-3">Libelé : {{ ret.niveauDiplomeInfo }} </div>
                                  <div class="col-sm-3">Internationale : {{ ret.Attractivite_internationale }} </div>
                                  <div class="col-sm-3">Attractivite interne : {{ ret.ATTRAC_INTERN }} </div>
                                  <div class="col-sm-10">Discipline : {{ ret.SelectionDisciplinaire }}</a></div>
                                  {% if ret.DisciplineId %}
                                  <div class="col-sm-2">ID : {{ ret.DisciplineId}} </div>
                                  {% endif%}
                                  </div>
                              </div>
                      <br>
                      <div class="panel panel-warning">
                            <div class="panel-heading">
                              <div class="panel-title">Les DUT (diplômes universitaires de technologie) :</div>
                            </div>
                            <div class="panel-body">
                              <div class="col-sm-3">{{ ret.SpecialiteDUT }}</a></div>
                              <div class="col-sm-3">Spécialité : {{ ret.SPEC_DUT }}</a></div>
                              <div class="col-sm-3">Secteur : {{ ret.SpecialiteSecDUT }}</a></div>
                              <div class="col-sm-3">Attractivite interne : {{ ret.ATTRAC_INTERN }} </div>
                              <div class="col-sm-3">Localisation : {{ ret.CommuneSiegeEtablissement }}</a></div>
                              <div class="col-sm-3">Département : {{ ret.DepartementSiege }} </div>
                              <div class="col-sm-3">Académie : {{ ret.AcademieSiege }} </div>
                              <div class="col-sm-3">Région : {{ ret.RegionSiege}} </div>
                              <div class="col-sm-3">Unité d'Inscription : {{ ret.CommuneUniteInscription}} </div>
                              <div class="col-sm-3">Département d'Inscription: {{ ret.DepartementUniteInscription}} </div>
                              <div class="col-sm-3">Académie d'Inscription: {{ ret.AcademieUniteInscription }} </div>
                              <div class="col-sm-3">Région d'Inscription: {{ ret.AcademieUniteInscription }} </div>
                              </div>
                          </div>
                  </div>
                      <br/>  
                    </div>
           </div>
           <br> 
           <br>
          </div>
        </div>
    </div>
{% endblock contenu_recherche %}
