{% extends "base.html" %}

{% block content %}
<div class="row">
{% block menu_recherche %}

<div class="col-sm-2">
<nav class="nav-side-menu">
    <div class="brand">MENU RECHERCHE</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
               

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="{% url 'home:recherche_ecole' %}"><i class="fa fa-gift fa-lg"></i> Recherche ecole<span class="arrow"></span></a>
                </li>
                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="{% url 'home:recherche_promo' %}"><i class="fa fa-globe fa-lg"></i> Recherche promo <span class="arrow"></span></a>
                </li> 
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="{% url 'home:recherche_effectifregional' %}"><i class="fa fa-car fa-lg"></i> Recheche région <span class="arrow"></span></a>
                </li>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                    <a href="#"><i class="fa fa-car fa-lg"></i> Recheche prime excellence <span class="arrow"></span></a>
                  </li>
            </ul>
     </div>
</nav>
</div>
{% endblock menu_recherche %}
<div class="col-sm-10">
 
    {% if list_fregion %}
    {% block recherche_effectifregional %}
    <h2>Liste des régions: </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>id</th>
          <th>Rentrée</th>
          <th>Emplacement</th>
        </tr>
      </thead>
      <tbody>
        {% for i in list_fregion %}
          <tr>
            <td><a href="{% url 'home:idregion' i.id %}"><button type="button" class="btn btn-sm btn-primary">{{ i.id }}</button></a></td>
            <td>{{ i.rentree_universitaire }}</td>
            <td>{{ i.niveau_geographique }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}
    {% endif %}
  {% if list_ecoledocto %}
  {% block recherche_ecoledocto %}
  <h2>Liste d'école doctorantes : </h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>numéro</th>
        <th>libelle</th>
        <th>université</th>
      </tr>
    </thead>
    <tbody>
      {% for i in list_ecoledocto %}
      	<tr>
      	  <td><a href="{% url 'home:idecole' i.numero %}"><button type="button" class="btn btn-sm btn-primary">{{ i.numero }}</button></a></td>
      	  <td>{{ i.libelle }}</td>
      	  <td>{{ i.liste_tous_etablissements }}</td>
      	</tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
  {% endif %}
  {% if list_promo %}
  {% block recherche_promo %}
  <h2>Liste des promotions : </h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>Année</th>
        <th>Discipline</th>
      </tr>
    </thead>
    <tbody>
      {% for i in list_promo %}
      	<tr>
      	  <td><a href=""><button type="button" class="btn btn-sm btn-primary">{{ i.id }}</button></a></td>
      	  <td>{{ i.rentreeDate }}</td>
      	  <td>{{ i.Discipline }}</td>
      	</tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
  {% endif %}
</div>

</div>

{% endblock content %}
                
